@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('../img/hua.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.navbar-brand small {
  display:block;
  font-size:12px;
}

.navbar-toggle {top:10px}

@media (min-width:768px) {

  .nav.navbar-nav a {
    padding-top:30px;
    padding-bottom:30px;
  }
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 800px;
margin-top: 80px;
margin-bottom: auto;
width: 1400px;
background-color: white !important;
overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.card-header h3{
color: black;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.submit_btn{
color: black;
background-color: #e3f2fd;
width: 200px;
margin-bottom: 10px;
}

.submit_btn:hover{
color: black;
background-color: white;
}


